.message_card:hover {
    background-color: #fafafa;
}

.message_card {
    max-width: 100%;
}

.message_description {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.message_wide_card {
    max-width: 100%;
}

.close_message_button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}