.message_wide_card {
    max-width: 100%;
}

.close_message_button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.receiver_card {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
}